h1 {
    color: orange;
}

h2 {
    color: purple;
}

p {
    font-family: "Georgia";
    font-size: 14px;
}

.color-block {
    background-color: rgb(224, 224, 224);
    padding: 11px;
}

.color-block p {    
    color: darkblue;
    font-weight: bold;
}

#special-block {
    border: 3px solid darkmagenta;
    padding: 12px;
    background-color: darkorange;
}

.parent > span {
    color: brown;
    font-size: 18px;
}